.note-modal{
    padding: 30px;
    width: 90vw;
    max-width: 900px;
    min-height: 400px;
}

.note-divider{
    margin: 20px 0 50px 0;
    border: 1px solid rgb(205, 205, 205);
}


.note-modal .title{
    font-size: 1.5rem;
    font-weight: bolder;
    display: block;
}

.heading-note{
    margin-bottom: 10px;
}

.heading-note .date{
    opacity: 0.8;
}

/* Create responsive note-modal padding for mobile */
@media screen and (max-width: 600px){
    .note-modal{
        padding: 20px;
    }
}
