.modal-wrapper{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    color: white;
}

.modal-wrapper.position-center{
    place-items: center;
}

.modal-wrapper.position-top{
    place-items: center;
}

.background.trigger{
    z-index: 10;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(22, 22, 22, 0.477);
    /* backdrop-filter: blur(2px); */
}

.modal-wrapper.modal-wrapper.position-top .modal-content{
    margin-top: -100px;
}

.modal-content{
    z-index: 20;
    border-radius: 10px;
    background-color: rgb(96, 96, 96);
    width: 100%;
    padding: 20px;
}